.event {
  position: absolute;
  width: 80%;
  background-color: rgb(69, 78, 197);
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    background-color: rgb(216, 76, 25);
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
}
